@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    color: #000000;
    display: grid;
    grid-template-columns: repeat(8, 1fr)
}

.arrow_back {
    width: 100%;
    height: 45px;
    border-radius: 50%;
    padding-top: 55px;
    padding-right: 40px;
    text-align: right;
    grid-column-start: 1;
    grid-column-end: 3;
}

.arrow_back img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

main {
    width: 1000px;
    height: calc(100vh - 80px);
    margin: 40px auto;
    overflow-y: scroll;
    background-color: #ffffff;
    padding: 30px 40px;
    border-radius: 25px;
    text-align: justify;
    grid-column-start: 3;
    grid-column-end: 7;
}

main::-webkit-scrollbar { 
    width: 0; 
}

.article__header {
    font-size: 27px;
    padding-bottom: 10px;
    width: 100%;
    text-align: right;
}

.article-text-header {
    text-align: justify;
}   

.article-text-header span {
    font-weight: 400;
    font-size: 15px;
    color: #868686;
}

.article__header p {
    margin-top: 10px;
    font-size: 17px;
    line-height: 15px;
    color: #868686;
}

.article__body {
    font-size: 19px;
    padding: 0 20px;
}

.article__body p {
    padding: 20px 0;
}

.article__body h4 {
    padding: 20px 0;
}

ol {
    padding-left: 23px;
}


li {
    margin: 20px 0;
}

li:first-child {
    margin-top: 15px;
}

li:last-child {
    margin-bottom: 15px;
}

.article__footer {
    padding-top: 10px;
    text-align: right;
}

.share-buttons {
    width: 100%;
}

.share-buttons button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    margin: 0 3px;
    transition: all 0.25s ease-in-out;
    padding: 0;
}

.share-buttons img {
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.copy {
    background-color: #bacbdf;
    transition: all 1s ease-in;
}

.copy:hover {
    background-color: #aabacc;
}

.vk {
    background-color: #2787f5;
    transition: all 1s ease-in;
}

.vk:hover {
    background-color: #1e67bb;
}

.ok {
    background-color: #ee8208;
    transition: all 1s ease-in;
}

.ok:hover {
    background-color: #c06905;
}

.telegram {
    background-color: #40b3e0;
    transition: all 1s ease-in;
}

.telegram:hover {
    background-color: #369ac2;
}

.whatsapp {
    background-color: #25d366;
    transition: all 1s ease-in;
}

.whatsapp:hover {
    background-color: #20b858;
}

.mailru {
    background-color: #3688c8;
    transition: all 1s ease-in;
}

.mailru:hover {
    background-color: #296ea3; 
}